
<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/html5-and-css3.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">[Product ID: 401]</h3>
            <h2 class="text-white title-font text-lg font-medium">Website Development</h2>
            <h5 class="text-white title-font text-lg font-medium">₹4,500</h5>
              <div>
                <b>Prerequisites:</b>
                   <p>
                   * You need to have your own Server.<br>
                   * A Domain Name. (www.WebsiteName.com)<br>
                   * Web Security Certificate. (SSL)<br>
                   <br>
                   <b>NOTE:</b><br>
                   If you don't have any of these,<br>
                   Then you need to Pay ₹7,500 for a complete Website.<br>
                   Including Web Development Fees (₹4,500).<br>
                   </p>
                 <br>
                    <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Buy Now</button>
              </div>  
          </div>
        </div>

        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/php-1024x538-1.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">[Product ID: 402]</h3>
            <h2 class="text-white title-font text-lg font-medium">PHP</h2>
            <p class="text-white title-font text-lg font-medium">₹9,500</p>
            <div>
              <b>INFO:</b>
                 <p>
                 * Just tell us about your requirements.<br>
                 * Your project will be delivered on Time.<br>
                 <br>
                 <b>NOTE:</b><br>
                 If you have domain, server, SSL etc<br>
                 Then you need to Pay only the Service charge (₹5,000).<br>
                 </p>
               <br>
                  <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Buy Now</button>
            </div>  
          </div>
        </div>

        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/AVR Framewrks.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">[Product ID: 403]</h3>
            <h2 class="text-white title-font text-lg font-medium">Angular</h2>
            <p class="text-white title-font text-lg font-medium">₹20,000</p>
            <div>
              <p>
                If you want to build your project on Angular.<br>
                Contact us ...
              </p>
            </div>
            
          </div>
        </div>

        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/Android-App-Development-Process-1.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">[Product ID: 404]</h3>
            <h2 class="text-white title-font text-lg font-medium">Android Apps</h2>
            <p class="text-white title-font text-lg font-medium">₹5,000</p>
            <div>
              <b>INFO:</b>
                 <p>
                 * Just tell us about your requirements.<br>
                 * Your project will be delivered on Time.<br>
                 <br>
                 <b>NOTE:</b><br>
                 If you want us to publish your App on PlayStore<br>
                 Then you need to Pay $25(PlayStore Registration Fee) + ₹500(Service Charge) Extra. 
                 <br>(i,e ₹5,500 + $25 in Total)<br>
                 </p>
               <br>
                  <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Buy Now</button>
            </div> 
          </div>
        </div>

        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/Speed.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">[Product ID: 405]</h3>
            <h2 class="text-white title-font text-lg font-medium">BUG FiX, Site Speed-UP</h2>
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Starting from:</h3>
            <p class="text-white title-font text-lg font-medium">₹500</p>
            <div>
              <b>We Offer</b>
                 <p>
                 * Fix Bugs on your website [HTML/CSS, PHP, <br>
                  Angular, CMS(WordPress, Joomla, Drupal etc)].<br>
                 * Back-End issues.<br>
                 * Front-End Issues.<br>
                 * Slow Website. 
                 <br>
                 <b>Don't Worry:</b><br>
                 We have got you Covered, fix or rebuild your website at a very affordable price. <br>
                 </p>
               <br>
                  <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Buy Now</button>
            </div> 
          </div>
        </div>

        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/ui ux design.png">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">[Product ID: 406]</h3>
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">UI UX Design</h3>
            <h2 class="text-white title-font text-lg font-medium">Sketch, Adobe XD, Figma</h2>
            <p class="text-white title-font text-lg font-medium">₹3,000</p>
            <a class="text-yellow-400 inline-flex items-center md:mb-2 lg:mb-0">Read More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a> 
          </div>
        </div>
      </div>
    </div>
  </section>