<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-xs text-yellow-400 tracking-widest font-medium title-font mb-1">Web/App Developer</h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-white">Let's Make the World Digital Together</h1>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-yellow-500 text-white flex-shrink-0">
                <img src="assets/coding.svg">
              </div>
              <h2 class="text-white text-lg title-font font-medium">Web Development</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
              <button class="btn" routerLink="/Pricings"        
                    class="mt-3 text-yellow-400 inline-flex items-center">Pricings
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-yellow-500 text-white flex-shrink-0">
                <img src="assets/android.svg">
              </div>
              <h2 class="text-white text-lg title-font font-medium">Android App Development</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
                <button routerLink="/Pricings"    
                    class="mt-3 text-yellow-400 inline-flex items-center">Pricings
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                </button>       
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-yellow-500 text-white flex-shrink-0">
                <img src="assets/ui ui design.svg">
              </div>
              <h2 class="text-white text-lg title-font font-medium">UI/UX Designs</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
              <button routerLink="/Pricings"     
                   class="mt-3 text-yellow-400 inline-flex items-center">Pricings
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
              </button>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Services We Provide:</h1>
          <div class="h-1 w-20 bg-yellow-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90"></p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/html5-and-css3.png" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Website</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">HTML/CSS</h2>
            <p class="leading-relaxed text-base">Static & Basic design Websites at a very Cheap Price. </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/cms.jpg" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Website</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">CMS</h2>
            <p class="leading-relaxed text-base">I have 5-6Yrs of experience in Content Management Systems like WordPress, Joomla, Drupal.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/php-1024x538-1.png" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Website</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">PHP</h2>
            <p class="leading-relaxed text-base">I also works on PHP, If you want your project on PHP it will be nicely done.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/AVR Framewrks.jpg" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Website</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Angular, ReactJS, VueJS</h2>
            <p class="leading-relaxed text-base">If you want your project to be done by Frameworks like Angular, ReactJS, VueJS., then your have landed to the right place.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/Android-App-Development-Process-1.jpg" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Android App</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Android Studio, Flutter & Kodular</h2>
            <p class="leading-relaxed text-base">Iam also an App Developer, trust me you will get nice and clean UI with no Bug.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/ui ux design.png" alt="content">
            <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">UI UX Design</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">Sketch, Adobe XD, Figma</h2>
            <p class="leading-relaxed text-base">We also provide UI UX designs at a very affordable price, which will be beautifully and nicely designed by our Experts.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">100+</h2>
          <p class="leading-relaxed">Clients</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">1.8K</h2>
          <p class="leading-relaxed">Subscribes</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">65+</h2>
          <p class="leading-relaxed">Projects</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-white">20+</h2>
          <p class="leading-relaxed">Products</p>
        </div>
      </div>
    </div>
  </section>